In [1]:
import pandas
import numpy
import sklearn
import seaborn
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import rcParams
rcParams['figure.figsize']=10,8
from sklearn import datasets,linear_model
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
cancer_data=pandas.read_csv('C:/Users/PG VINEETHA/Downloads/Cancer.csv')

In [4]:
cancer_data

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad,irradiat
0,no-recurrence-events,12,it40,2,1,yes,1,left,left-up,no
1,reccurrence-events,25,ge40,8,4,no,3,left,left-low,yes
2,reccurrence-events,38,premeno.,12,7,no,2,right,central,yes
3,no-recurrence-events,44,it40,18,10,no,2,left,right-up,no
4,no-recurrence-events,52,premeno.,24,13,yes,3,right,left-low,no
5,no-recurrence-events,64,premeno.,29,16,yes,1,right,right-low,no
6,reccurrence-events,78,ge40,34,19,no,1,right,central,yes
7,reccurrence-events,81,it40,36,22,no,2,left,right-up,no
8,no-recurrence-events,92,ge40,42,26,yes,2,left,left-low,yes
9,reccurrence-events,46,it40,47,28,yes,3,right,right-up,yes
10,no-recurrence-events,7,premeno.,51,31,no,2,right,central,no
11,no-recurrence-events,32,premeno.,58,34,yes,1,left,central,no
12,reccurrence-events,46,it40,64,38,yes,2,left,right-up,yes
13,reccurrence-events,17,ge40,67,39,no,3,right,right-low,yes

In [5]:
cancer_data_X=cancer_data[['age','menopause','tumor-size','inv-nodes','node-caps','deg-malig','breast','brease-quad']]
cancer_data_Y=cancer_data[['irradiat']]

In [6]:
cancer_data_X

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
0,12,it40,2,1,yes,1,left,left-up
1,25,ge40,8,4,no,3,left,left-low
2,38,premeno.,12,7,no,2,right,central
3,44,it40,18,10,no,2,left,right-up
4,52,premeno.,24,13,yes,3,right,left-low
5,64,premeno.,29,16,yes,1,right,right-low
6,78,ge40,34,19,no,1,right,central
7,81,it40,36,22,no,2,left,right-up
8,92,ge40,42,26,yes,2,left,left-low
9,46,it40,47,28,yes,3,right,right-up
10,7,premeno.,51,31,no,2,right,central
11,32,premeno.,58,34,yes,1,left,central
12,46,it40,64,38,yes,2,left,right-up
13,17,ge40,67,39,no,3,right,right-low

In [7]:
cancer_data_Y

   irradiat
0        no
1       yes
2       yes
3        no
4        no
5        no
6       yes
7        no
8       yes
9       yes
10       no
11       no
12      yes
13      yes

In [8]:
X_train,X_test,Y_train,Y_test=train_test_split(cancer_data_X,cancer_data_Y,test_size=0.18)

In [9]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,38,premeno.,12,7,no,2,right,central
11,32,premeno.,58,34,yes,1,left,central
8,92,ge40,42,26,yes,2,left,left-low
5,64,premeno.,29,16,yes,1,right,right-low
7,81,it40,36,22,no,2,left,right-up
13,17,ge40,67,39,no,3,right,right-low
3,44,it40,18,10,no,2,left,right-up
12,46,it40,64,38,yes,2,left,right-up
4,52,premeno.,24,13,yes,3,right,left-low
1,25,ge40,8,4,no,3,left,left-low
9,46,it40,47,28,yes,3,right,right-up

In [10]:
age_scaler=StandardScaler()
age_scaler.fit(pandas.DataFrame(X_train['age']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [11]:
X_train[['age']]=age_scaler.transform(X_train[['age']])

In [12]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,premeno.,12,7,no,2,right,central
11,-0.776544,premeno.,58,34,yes,1,left,central
8,1.993828,ge40,42,26,yes,2,left,left-low
5,0.700988,premeno.,29,16,yes,1,right,right-low
7,1.485927,it40,36,22,no,2,left,right-up
13,-1.469137,ge40,67,39,no,3,right,right-low
3,-0.222469,it40,18,10,no,2,left,right-up
12,-0.130124,it40,64,38,yes,2,left,right-up
4,0.146914,premeno.,24,13,yes,3,right,left-low
1,-1.099754,ge40,8,4,no,3,left,left-low
9,-0.130124,it40,47,28,yes,3,right,right-up

In [13]:
tumor_scaler=StandardScaler()
tumor_scaler.fit(pandas.DataFrame(X_train['tumor-size']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
X_train[['tumor-size']]=tumor_scaler.transform(X_train[['tumor-size']])

In [15]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,premeno.,-1.261781,7,no,2,right,central
11,-0.776544,premeno.,1.076905,34,yes,1,left,central
8,1.993828,ge40,0.263449,26,yes,2,left,left-low
5,0.700988,premeno.,-0.397484,16,yes,1,right,right-low
7,1.485927,it40,-0.041597,22,no,2,left,right-up
13,-1.469137,ge40,1.534474,39,no,3,right,right-low
3,-0.222469,it40,-0.956735,10,no,2,left,right-up
12,-0.130124,it40,1.381951,38,yes,2,left,right-up
4,0.146914,premeno.,-0.651689,13,yes,3,right,left-low
1,-1.099754,ge40,-1.465145,4,no,3,left,left-low
9,-0.130124,it40,0.517654,28,yes,3,right,right-up

In [16]:
inv_scaler=StandardScaler()
inv_scaler.fit(pandas.DataFrame(X_train['inv-nodes']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
X_train[['inv-nodes']]=inv_scaler.transform(X_train[['inv-nodes']])

In [18]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,premeno.,-1.261781,-1.225847,no,2,right,central
11,-0.776544,premeno.,1.076905,1.049631,yes,1,left,central
8,1.993828,ge40,0.263449,0.375416,yes,2,left,left-low
5,0.700988,premeno.,-0.397484,-0.467354,yes,1,right,right-low
7,1.485927,it40,-0.041597,0.038308,no,2,left,right-up
13,-1.469137,ge40,1.534474,1.471016,no,3,right,right-low
3,-0.222469,it40,-0.956735,-0.973016,no,2,left,right-up
12,-0.130124,it40,1.381951,1.386739,yes,2,left,right-up
4,0.146914,premeno.,-0.651689,-0.720185,yes,3,right,left-low
1,-1.099754,ge40,-1.465145,-1.478678,no,3,left,left-low
9,-0.130124,it40,0.517654,0.543969,yes,3,right,right-up

In [19]:
deg_scaler=StandardScaler()
deg_scaler.fit(pandas.DataFrame(X_train['deg-malig']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [20]:
X_train[['deg-malig']]=deg_scaler.transform(X_train[['deg-malig']])

In [21]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,premeno.,-1.261781,-1.225847,no,-0.254000,right,central
11,-0.776544,premeno.,1.076905,1.049631,yes,-1.651002,left,central
8,1.993828,ge40,0.263449,0.375416,yes,-0.254000,left,left-low
5,0.700988,premeno.,-0.397484,-0.467354,yes,-1.651002,right,right-low
7,1.485927,it40,-0.041597,0.038308,no,-0.254000,left,right-up
13,-1.469137,ge40,1.534474,1.471016,no,1.143001,right,right-low
3,-0.222469,it40,-0.956735,-0.973016,no,-0.254000,left,right-up
12,-0.130124,it40,1.381951,1.386739,yes,-0.254000,left,right-up
4,0.146914,premeno.,-0.651689,-0.720185,yes,1.143001,right,left-low
1,-1.099754,ge40,-1.465145,-1.478678,no,1.143001,left,left-low
9,-0.130124,it40,0.517654,0.543969,yes,1.143001,right,right-up

In [22]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,premeno.,-1.261781,-1.225847,no,-0.254000,right,central
11,-0.776544,premeno.,1.076905,1.049631,yes,-1.651002,left,central
8,1.993828,ge40,0.263449,0.375416,yes,-0.254000,left,left-low
5,0.700988,premeno.,-0.397484,-0.467354,yes,-1.651002,right,right-low
7,1.485927,it40,-0.041597,0.038308,no,-0.254000,left,right-up
13,-1.469137,ge40,1.534474,1.471016,no,1.143001,right,right-low
3,-0.222469,it40,-0.956735,-0.973016,no,-0.254000,left,right-up
12,-0.130124,it40,1.381951,1.386739,yes,-0.254000,left,right-up
4,0.146914,premeno.,-0.651689,-0.720185,yes,1.143001,right,left-low
1,-1.099754,ge40,-1.465145,-1.478678,no,1.143001,left,left-low
9,-0.130124,it40,0.517654,0.543969,yes,1.143001,right,right-up

In [23]:
node_encoder=preprocessing.LabelEncoder()
node_encoder.fit(pandas.DataFrame(X_train['node-caps']))
X_train[['node-caps']]=node_encoder.transform(X_train['node-caps'])

In [24]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,premeno.,-1.261781,-1.225847,0,-0.254000,right,central
11,-0.776544,premeno.,1.076905,1.049631,1,-1.651002,left,central
8,1.993828,ge40,0.263449,0.375416,1,-0.254000,left,left-low
5,0.700988,premeno.,-0.397484,-0.467354,1,-1.651002,right,right-low
7,1.485927,it40,-0.041597,0.038308,0,-0.254000,left,right-up
13,-1.469137,ge40,1.534474,1.471016,0,1.143001,right,right-low
3,-0.222469,it40,-0.956735,-0.973016,0,-0.254000,left,right-up
12,-0.130124,it40,1.381951,1.386739,1,-0.254000,left,right-up
4,0.146914,premeno.,-0.651689,-0.720185,1,1.143001,right,left-low
1,-1.099754,ge40,-1.465145,-1.478678,0,1.143001,left,left-low
9,-0.130124,it40,0.517654,0.543969,1,1.143001,right,right-up

In [25]:
breast_encoder=preprocessing.LabelEncoder()
breast_encoder.fit(pandas.DataFrame(X_train['breast']))
X_train[['breast']]=breast_encoder.transform(X_train['breast'])

In [26]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,premeno.,-1.261781,-1.225847,0,-0.254000,1,central
11,-0.776544,premeno.,1.076905,1.049631,1,-1.651002,0,central
8,1.993828,ge40,0.263449,0.375416,1,-0.254000,0,left-low
5,0.700988,premeno.,-0.397484,-0.467354,1,-1.651002,1,right-low
7,1.485927,it40,-0.041597,0.038308,0,-0.254000,0,right-up
13,-1.469137,ge40,1.534474,1.471016,0,1.143001,1,right-low
3,-0.222469,it40,-0.956735,-0.973016,0,-0.254000,0,right-up
12,-0.130124,it40,1.381951,1.386739,1,-0.254000,0,right-up
4,0.146914,premeno.,-0.651689,-0.720185,1,1.143001,1,left-low
1,-1.099754,ge40,-1.465145,-1.478678,0,1.143001,0,left-low
9,-0.130124,it40,0.517654,0.543969,1,1.143001,1,right-up

In [27]:
brease_encoder=preprocessing.LabelEncoder()
brease_encoder.fit(pandas.DataFrame(X_train['brease-quad']))
X_train[['brease-quad']]=brease_encoder.transform(X_train['brease-quad'])

In [28]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,premeno.,-1.261781,-1.225847,0,-0.254000,1,0
11,-0.776544,premeno.,1.076905,1.049631,1,-1.651002,0,0
8,1.993828,ge40,0.263449,0.375416,1,-0.254000,0,1
5,0.700988,premeno.,-0.397484,-0.467354,1,-1.651002,1,2
7,1.485927,it40,-0.041597,0.038308,0,-0.254000,0,3
13,-1.469137,ge40,1.534474,1.471016,0,1.143001,1,2
3,-0.222469,it40,-0.956735,-0.973016,0,-0.254000,0,3
12,-0.130124,it40,1.381951,1.386739,1,-0.254000,0,3
4,0.146914,premeno.,-0.651689,-0.720185,1,1.143001,1,1
1,-1.099754,ge40,-1.465145,-1.478678,0,1.143001,0,1
9,-0.130124,it40,0.517654,0.543969,1,1.143001,1,3

In [29]:
meno_encoder=preprocessing.LabelEncoder()
meno_encoder.fit(pandas.DataFrame(X_train['menopause']))
X_train[['menopause']]=meno_encoder.transform(X_train['menopause'])

In [30]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,2,-1.261781,-1.225847,0,-0.254000,1,0
11,-0.776544,2,1.076905,1.049631,1,-1.651002,0,0
8,1.993828,0,0.263449,0.375416,1,-0.254000,0,1
5,0.700988,2,-0.397484,-0.467354,1,-1.651002,1,2
7,1.485927,1,-0.041597,0.038308,0,-0.254000,0,3
13,-1.469137,0,1.534474,1.471016,0,1.143001,1,2
3,-0.222469,1,-0.956735,-0.973016,0,-0.254000,0,3
12,-0.130124,1,1.381951,1.386739,1,-0.254000,0,3
4,0.146914,2,-0.651689,-0.720185,1,1.143001,1,1
1,-1.099754,0,-1.465145,-1.478678,0,1.143001,0,1
9,-0.130124,1,0.517654,0.543969,1,1.143001,1,3

In [31]:
brease_scaler=StandardScaler()
brease_scaler.fit(pandas.DataFrame(X_train['brease-quad']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [32]:
X_train[['brease-quad']]=brease_scaler.transform(X_train[['brease-quad']])

In [33]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,2,-1.261781,-1.225847,0,-0.254000,1,-1.521217
11,-0.776544,2,1.076905,1.049631,1,-1.651002,0,-1.521217
8,1.993828,0,0.263449,0.375416,1,-0.254000,0,-0.640513
5,0.700988,2,-0.397484,-0.467354,1,-1.651002,1,0.240192
7,1.485927,1,-0.041597,0.038308,0,-0.254000,0,1.120897
13,-1.469137,0,1.534474,1.471016,0,1.143001,1,0.240192
3,-0.222469,1,-0.956735,-0.973016,0,-0.254000,0,1.120897
12,-0.130124,1,1.381951,1.386739,1,-0.254000,0,1.120897
4,0.146914,2,-0.651689,-0.720185,1,1.143001,1,-0.640513
1,-1.099754,0,-1.465145,-1.478678,0,1.143001,0,-0.640513
9,-0.130124,1,0.517654,0.543969,1,1.143001,1,1.120897

In [34]:
Y_train

   irradiat
2       yes
11       no
8       yes
5        no
7        no
13      yes
3        no
12      yes
4        no
1       yes
9       yes

In [35]:
Y_train['irradiat']=Y_train['irradiat'].map({'yes':1,'no':0})

In [36]:
Y_test['irradiat']=Y_test['irradiat'].map({'yes':1,'no':0})

In [37]:
Y_test

    irradiat
6          1
10         0
0          0

In [38]:
Y_train

    irradiat
2          1
11         0
8          1
5          0
7          0
13         1
3          0
12         1
4          0
1          1
9          1

In [39]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,2,-1.261781,-1.225847,0,-0.254000,1,-1.521217
11,-0.776544,2,1.076905,1.049631,1,-1.651002,0,-1.521217
8,1.993828,0,0.263449,0.375416,1,-0.254000,0,-0.640513
5,0.700988,2,-0.397484,-0.467354,1,-1.651002,1,0.240192
7,1.485927,1,-0.041597,0.038308,0,-0.254000,0,1.120897
13,-1.469137,0,1.534474,1.471016,0,1.143001,1,0.240192
3,-0.222469,1,-0.956735,-0.973016,0,-0.254000,0,1.120897
12,-0.130124,1,1.381951,1.386739,1,-0.254000,0,1.120897
4,0.146914,2,-0.651689,-0.720185,1,1.143001,1,-0.640513
1,-1.099754,0,-1.465145,-1.478678,0,1.143001,0,-0.640513
9,-0.130124,1,0.517654,0.543969,1,1.143001,1,1.120897

In [40]:
X_train['menopause'].groupby(X_train['age']).std()

age
-1.469137    NaN
-1.099754    NaN
-0.776544    NaN
-0.499506    NaN
-0.222469    NaN
-0.130124    0.0
 0.146914    NaN
 0.700988    NaN
 1.485927    NaN
 1.993828    NaN
Name: menopause, dtype: float64

In [41]:
X_train

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
2,-0.499506,2,-1.261781,-1.225847,0,-0.254000,1,-1.521217
11,-0.776544,2,1.076905,1.049631,1,-1.651002,0,-1.521217
8,1.993828,0,0.263449,0.375416,1,-0.254000,0,-0.640513
5,0.700988,2,-0.397484,-0.467354,1,-1.651002,1,0.240192
7,1.485927,1,-0.041597,0.038308,0,-0.254000,0,1.120897
13,-1.469137,0,1.534474,1.471016,0,1.143001,1,0.240192
3,-0.222469,1,-0.956735,-0.973016,0,-0.254000,0,1.120897
12,-0.130124,1,1.381951,1.386739,1,-0.254000,0,1.120897
4,0.146914,2,-0.651689,-0.720185,1,1.143001,1,-0.640513
1,-1.099754,0,-1.465145,-1.478678,0,1.143001,0,-0.640513
9,-0.130124,1,0.517654,0.543969,1,1.143001,1,1.120897

In [42]:
X_train_original=X_train
X_train=X_train.values
Y_train=Y_train.values

In [43]:
logistic_regression=LogisticRegression()

In [44]:
logistic_regression.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [45]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,78,ge40,34,19,no,1,right,central
10,7,premeno.,51,31,no,2,right,central
0,12,it40,2,1,yes,1,left,left-up

In [46]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,78,ge40,34,19,no,1,right,central
10,7,premeno.,51,31,no,2,right,central
0,12,it40,2,1,yes,1,left,left-up

In [47]:
meno_encoder=preprocessing.LabelEncoder()
meno_encoder.fit(pandas.DataFrame(X_test['menopause']))
X_test[['menopause']]=meno_encoder.transform(X_test['menopause'])

In [48]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,78,0,34,19,no,1,right,central
10,7,2,51,31,no,2,right,central
0,12,1,2,1,yes,1,left,left-up

In [49]:
node_encoder=preprocessing.LabelEncoder()
node_encoder.fit(pandas.DataFrame(X_test['node-caps']))
X_test[['node-caps']]=node_encoder.transform(X_test['node-caps'])

In [50]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,78,0,34,19,0,1,right,central
10,7,2,51,31,0,2,right,central
0,12,1,2,1,1,1,left,left-up

In [51]:
breast_encoder=preprocessing.LabelEncoder()
breast_encoder.fit(pandas.DataFrame(X_test['breast']))
X_test[['breast']]=breast_encoder.transform(X_test['breast'])

In [52]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,78,0,34,19,0,1,1,central
10,7,2,51,31,0,2,1,central
0,12,1,2,1,1,1,0,left-up

In [53]:
brease_encoder=preprocessing.LabelEncoder()
brease_encoder.fit(pandas.DataFrame(X_test['brease-quad']))
X_test[['brease-quad']]=brease_encoder.transform(X_test['brease-quad'])

In [54]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,78,0,34,19,0,1,1,0
10,7,2,51,31,0,2,1,0
0,12,1,2,1,1,1,0,1

In [55]:
age_scaler=StandardScaler()
age_scaler.fit(pandas.DataFrame(X_test['age']))
X_test[['age']]=age_scaler.transform(X_test[['age']])

In [56]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,1.411396,0,34,19,0,1,1,0
10,-0.782964,2,51,31,0,2,1,0
0,-0.628432,1,2,1,1,1,0,1

In [57]:
tumor_scaler=StandardScaler()
tumor_scaler.fit(pandas.DataFrame(X_test['tumor-size']))
X_test[['tumor-size']]=tumor_scaler.transform(X_test[['tumor-size']])

In [58]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,1.411396,0,0.246133,19,0,1,1,0
10,-0.782964,2,1.082986,31,0,2,1,0
0,-0.628432,1,-1.329120,1,1,1,0,1

In [59]:
inv_scaler=StandardScaler()
inv_scaler.fit(pandas.DataFrame(X_test['inv-nodes']))
X_test[['inv-nodes']]=inv_scaler.transform(X_test[['inv-nodes']])

In [60]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,1.411396,0,0.246133,0.162221,0,1,1,0
10,-0.782964,2,1.082986,1.135550,0,2,1,0
0,-0.628432,1,-1.329120,-1.297771,1,1,0,1

In [61]:
deg_scaler=StandardScaler()
deg_scaler.fit(pandas.DataFrame(X_test['deg-malig']))
X_test[['deg-malig']]=deg_scaler.transform(X_test[['deg-malig']])

In [62]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,1.411396,0,0.246133,0.162221,0,-0.707107,1,0
10,-0.782964,2,1.082986,1.135550,0,1.414214,1,0
0,-0.628432,1,-1.329120,-1.297771,1,-0.707107,0,1

In [63]:
brease_scaler=StandardScaler()
brease_scaler.fit(pandas.DataFrame(X_test['brease-quad']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [64]:
X_test[['brease-quad']]=brease_scaler.transform(X_test[['brease-quad']])

In [65]:
X_test

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,brease-quad
6,1.411396,0,0.246133,0.162221,0,-0.707107,1,-0.707107
10,-0.782964,2,1.082986,1.135550,0,1.414214,1,-0.707107
0,-0.628432,1,-1.329120,-1.297771,1,-0.707107,0,1.414214

In [66]:
Y_pred=logistic_regression.predict(X_test)

In [67]:
Y_pred

array([1, 1, 0], dtype=int64)

In [68]:
print('R2 Score; %.2f' % r2_score(Y_test,Y_pred))

R2 Score; -0.50

In [69]:
print("Mean squared error:%.1f" % mean_squared_error(Y_test,Y_pred))

Mean squared error:0.3

In [70]:
print(accuracy_score(Y_test,Y_pred))

0.6666666666666666

# DECISION TREE

In [71]:
from sklearn import tree

In [72]:
decision_tree=tree.DecisionTreeClassifier()

In [73]:
decision_tree.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [74]:
Y_pred=decision_tree.predict(X_test)
print(accuracy_score(Y_test,Y_pred))

0.6666666666666666

In [75]:
Y_pred

array([1, 1, 0], dtype=int64)

In [76]:
print(accuracy_score(Y_test,Y_pred))

0.6666666666666666

# BAYE'S THEOREM

In [77]:
from sklearn.naive_bayes import GaussianNB

In [78]:
naive_bayes=GaussianNB()
naive_bayes.fit(X_train,Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [79]:
y_pred=naive_bayes.predict(X_test)

In [80]:
print(accuracy_score(Y_test,Y_pred))

0.6666666666666666

# RANDOM FOREST

In [81]:
from sklearn.metrics import classification_report,confusion_matrix

In [82]:
from sklearn.ensemble import RandomForestClassifier

In [83]:
random_forest=RandomForestClassifier()
random_forest.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [84]:
Y_pred=random_forest.predict(X_test)
Y_pred_prob=random_forest.predict_proba(X_test)
print(accuracy_score(Y_test,Y_pred))

0.6666666666666666

In [85]:
Y_pred=random_forest.predict(X_test)

In [86]:
Y_pred_prob=random_forest.predict_proba(X_test)

In [87]:
print(accuracy_score(Y_test,Y_pred))

0.6666666666666666